* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #141414;
  color: white;
}

/* Recurring Elements */
.cursor-pointer {
  cursor: pointer;
}

button:active{
  transform: translateY(1px);
}

/* Section */

.section__wrapper{
  position: relative;
}
/* Navigation */

.nav{
  width: 100%;
  padding: 0 24px 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  position: absolute;
  z-index: 10;
}
.nav__header{
  display: flex;
  align-items: center;
}
.nav__secondary{
  display: flex;
  align-items: center;

}

.logo__img{
  width: 80px;
  height: 60px;
}

.nav__links{
  display: flex;
  list-style-type: none ;
}
.nav__link{
  margin-left: 16px;

}


.nav__icons ,.nav__browser{
  display: flex;
  align-items:end;
  justify-content: center;
}
.nav__browser{
  display: none;
  margin-left: 16px ;
  position: relative;
}
.nav__browse{
  margin-left: 4px;
  /* border: 1px red solid; */
}
.nav__icon{
  width: 20px;
  height: 20px;
  color: white;
}

.nav__kids , .nav__icon{
  margin-right: 16px;

}

.user__img{
  border-radius:5px ;
}
.nav__dropdown{
  display: none;
}
.menu__open .nav__dropdown{
  display: flex;
  position: absolute;
  flex-direction: column;
}

.nav__dropdown--links{
  background-color: #18161665;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  border-top:2px gray solid;
  z-index: 50;
}

.nav__dropdown--link{
  padding: 16px;
}


@media (max-width: 768px) {
  .nav__links , .nav__kids{
    display: none;
  }
  .nav__browser{
    display: flex;
  }
  .nav__icon{
    width: 16px;
    height: 16px;
  }

}

/* Banner */
.banner__containter{
  display: flex;
  height: 100vh;
  align-items: center;
}

.banner__img--wrapper{
  display: flex;
  position: absolute;
}

.banner__img{
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.banner__info--container{
    width: calc(100% / 2);
    padding-left: calc( 100% / 45) ;
}

.banner__info--para{
  text-shadow: .5px .5px gray;
}

.banner__buttons{
  display: flex;
}
.banner__button{
  border-radius: 5px;
  margin: 4px;
  padding: 8px 12px;
  border: none;
}

.play-btn{
  color: black;
  background: white;
}
.info-btn{
  color: white;
  background: gray;
  display: flex;
  align-items: center;  
}
.play-icon , .info-icon{
  padding-right: 4px;
}
.info-icon{
  font-size: 20px;
}


/* Categories */